{% extends 'base.html' %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>The world of Jurassic Park</h2>

    {% for dino in listDino %}
    <!-- iterate here ? -->
        <a href="/dinosaurs/{{dino.slug}}/">
            <figure>
                <img src="{{dino.avatar}}" alt="{{dino.slug}}" />
                <figcaption>Discover the {{dino.slug}}</figcaption>
            </figure>
        </a>
        {% endfor %}
</section>
{% endblock %}